# Xcode / Swift
## User settings
xcuserdata/
*.xcuserstate
*.xcuserdatad/

## Build products
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Swift Package Manager
.swiftpm/
.build/
Packages/

## macOS
.DS_Store
*.pem

## Misc
*.swp
